[submodule "ds-auth"]
	path = ds-auth
	url = https://github.com/dapphub/ds-auth
[submodule "ds-cache"]
	path = ds-cache
	url = https://github.com/dapphub/ds-cache
[submodule "ds-roles"]
	path = ds-roles
	url = https://github.com/dapphub/ds-roles
[submodule "ds-note"]
	path = ds-note
	url = https://github.com/dapphub/ds-note
[submodule "ds-vault"]
	path = ds-vault
	url = https://github.com/dapphub/ds-vault
[submodule "ds-token"]
	path = ds-token
	url = https://github.com/dapphub/ds-token
[submodule "ds-guard"]
	path = ds-guard
	url = https://github.com/dapphub/ds-guard
[submodule "ds-math"]
	path = ds-math
	url = https://github.com/dapphub/ds-math
[submodule "ds-exec"]
	path = ds-exec
	url = https://github.com/dapphub/ds-exec
[submodule "ds-multisig"]
	path = ds-multisig
	url = https://github.com/dapphub/ds-multisig
[submodule "ds-value"]
	path = ds-value
	url = https://github.com/dapphub/ds-value
[submodule "ds-proxy"]
	path = ds-proxy
	url = https://github.com/dapphub/ds-proxy
[submodule "ds-stop"]
	path = ds-stop
	url = https://github.com/dapphub/ds-stop
[submodule "ds-thing"]
	path = ds-thing
	url = https://github.com/dapphub/ds-thing.git
[submodule "ds-test"]
	path = ds-test
	url = https://github.com/dapphub/ds-test
[submodule "erc20"]
	path = erc20
	url = https://github.com/dapphub/erc20
