[submodule "ds-auth"]
	path = ds-auth
	url = https://github.com/nexusdev/ds-auth
[submodule "ds-store"]
	path = ds-store
	url = https://github.com/nexusdev/ds-store
[submodule "ds-cache"]
	path = ds-cache
	url = https://github.com/nexusdev/ds-cache
[submodule "ds-actor"]
	path = ds-actor
	url = https://github.com/nexusdev/ds-actor
