[submodule "ds-auth"]
	path = ds-auth
	url = https://github.com/nexusdev/ds-auth
[submodule "ds-store"]
	path = ds-store
	url = https://github.com/nexusdev/ds-store
[submodule "ds-cache"]
	path = ds-cache
	url = https://github.com/nexusdev/ds-cache
[submodule "ds-proxy"]
	path = ds-proxy
	url = https://github.com/nexusdev/ds-proxy
[submodule "ds-roles"]
	path = ds-roles
	url = https://github.com/nexusdev/ds-roles
[submodule "ds-note"]
	path = ds-note
	url = https://github.com/dapphub/ds-note
[submodule "ds-vault"]
	path = ds-vault
	url = https://github.com/dapphub/ds-vault
[submodule "ds-prism"]
	path = ds-prism
	url = https://github.com/dapphub/ds-prism
[submodule "ds-token"]
	path = ds-token
	url = git@github.com:dapphub/ds-token.git
[submodule "ds-guard"]
	path = ds-guard
	url = git@github.com:dapphub/ds-guard.git
[submodule "ds-math"]
	path = ds-math
	url = git@github.com:dapphub/ds-math.git
[submodule "ds-exec"]
	path = ds-exec
	url = git@github.com:dapphub/ds-exec.git
[submodule "ds-multisig"]
	path = ds-multisig
	url = git@github.com:dapphub/ds-multisig.git
[submodule "ds-value"]
	path = ds-value
	url = git@github.com:dapphub/ds-value.git
